@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  Mobile: 375px
- Desktop: 1440px */

color {
  color: hsl(35, 77%, 62%);
  color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  color: hsl(233, 8%, 79%);
  color: hsl(236, 13%, 42%);
  color: hsl(240, 100%, 5%);
}

body {
  font-family: "Inter", sans-serif;
  /* font: 400, 700, 800 */
  background-color: white;
}

/*
For normal html in public folder

 nav a.active {
  color: green;
  font-weight: 800;
} */

/* Navbar.js */
.header {
}

.nav-section {
}

.nav-container {
  height: 0;
  overflow: hidden;
  transition: all 0.2s linear;
}

.nav {
}

.link {
}

.logo-bars-container {
}

.toggle-menu-bars {
  font-size: 1.5rem;
  color: hsl(205, 78%, 60%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.toggle-menu-bars:hover {
  color: hsl(205, 86%, 17%);
  transform: rotate(90deg);
}

.menu-social-container {
}

/* App.js */
.social-component {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Socialmedia.js */
.social-media-section {
}

.social-links-container {
}

.social-links {
  display: flex;
}

.social-link-li {
  list-style-type: none;
}

.social-link {
}

/* Content.js */
.hero-section {
}

.hero-img-div {
  width: 100%;
  height: 15rem;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.trending-title .text {
}

.read-more-btn {
  font-size: 0.8rem;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
}

.whats-new-section {
  padding: 1.5rem;
  background-color: hsl(240, 100%, 5%);
}

.whats-new-section h2 {
  font-weight: 700;
  color: hsl(35, 77%, 62%);
}

.new-text {
  padding: 1rem 0;
}

.new-text h3 {
  color: hsl(36, 100%, 99%);
  margin-bottom: 1rem;
}

.new-text p {
  line-height: 1.7;
  color: hsl(233, 8%, 79%);
}

.underline {
  margin-top: 1rem;
  border-bottom: 1px solid hsl(233, 8%, 79%);
}

.product-category-section {
  margin: 3rem 0;
}

.product-container {
  width: 100%;
  height: 9rem;
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.product-img-div {
  width: 40%;
  height: 100%;
}

.product-img {
  width: 100%;
  height: 100%;
}

.product-details {
  width: 60%;
  padding-right: 1rem;
  display: flex;
  /* gap: 1rem; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}

.product-number {
  font-size: 2rem;
  color: hsl(233, 8%, 79%);
}

.product-title {
  font-weight: 800;
  font-size: 1.05rem;
  /* line-height: 1; */
  color: hsl(240, 100%, 5%);
}

.product-text {
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(236, 13%, 42%);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .toggle-menu-bars {
    display: none;
  }

  .menu-container {
    height: auto !important;
    overflow: hidden;
  }
}
